In [1]:
import pandas as pd

# df = pd.read_csv("/home/jovyan/data/Returns raw-data-2022-09-30 10_48_19.csv")
df = pd.read_csv("/home/jovyan/data/Returns raw-data-2022-10-28 13_57_45.csv")
df = df.rename(columns={
    'time': 'timestamp',
})
# df['timestamp'] = pd.to_datetime(df['timestamp'], utc=True)
df['timestamp'] = pd.to_datetime(df['timestamp'] / 1000, unit='s', utc=True)
df = df.set_index(['timestamp', 'model_id'])
display(df)
print(df.dtypes)
df.to_parquet('/home/jovyan/data/20221028_returns.parquet')

                                                        ret
timestamp                 model_id
2022-09-01 16:05:00+00:00 example-model-portfolio -0.000031
                          example-model-rank      -0.000054
                          example-model-rank2      0.000000
                          example-model-rank3      0.000000
                          m-20220904-nn            0.000000
...                                                     ...
2022-10-28 03:55:00+00:00 m-20221020-rank-nn      -0.001578
                          m-20221028-btc-one-h4    0.003494
                          pf-universal             0.000134
                          pf-universal2            0.000355
                          pf-universal2-high       0.000731

[520114 rows x 1 columns]

ret    float64
dtype: object

In [22]:
import pandas as pd

# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 12_26_46.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 13_42_37.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 15_19_37.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 15_25_00.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 16_08_48.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 16_13_50.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 17_54_38.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 18_13_51.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 18_19_34.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 18_47_46.csv")
# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-02 19_44_25.csv")

# df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-03 02_40_46.csv")
df = pd.read_csv("/home/jovyan/data/Position raw-data-2022-10-28 13_57_45.csv")


df = df.rename(columns={
    'time': 'timestamp',
})
df['timestamp'] = pd.to_datetime(df['timestamp'] / 1000, unit='s', utc=True)
df = df.set_index(['timestamp', 'model_id', 'symbol'])
display(df)
print(df.dtypes)
# df.to_parquet('/home/jovyan/data/20221002_positions_20220907_beta.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220908_ranker.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220910_beta.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220910_beta_fix2.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220921_remove_feat.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220919_rank.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220921_eth.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220911_beta_h12.parquet')
# df.to_parquet('/home/jovyan/data/20221002_positions_20220907_eth.parquet')
df.to_parquet('/home/jovyan/data/20221028_positions.parquet')

                                                              position
timestamp                 model_id                symbol
2022-09-18 17:40:00+00:00 example-model-portfolio ADA    -1.846983e-07
                                                  ATOM    7.415791e-01
                                                  BNB    -2.903537e-07
                                                  BTC    -7.423083e-07
                                                  DOT    -8.954021e-07
...                                                                ...
2022-09-29 15:05:00+00:00 m-20220910-beta         ETH     1.390236e-01
                                                  LINK   -1.675042e-01
                                                  MATIC   3.638467e-02
                                                  SOL     8.652356e-02
                                                  XRP    -1.226431e-01

[1000000 rows x 1 columns]

position    float64
dtype: object