In [7]:
import pandas as pd

df = pd.read_csv("/home/jovyan/data/Returns raw-data-2022-09-30 10_48_19.csv")
df = df.rename(columns={
    'time': 'timestamp',
})
df['timestamp'] = pd.to_datetime(df['timestamp'], utc=True)
df = df.set_index(['timestamp', 'model_id'])
display(df)
print(df.dtypes)
df.to_parquet('/home/jovyan/data/20220930_returns.parquet')

                                                        ret
timestamp                 model_id
2022-09-02 01:05:00+00:00 example-model-portfolio -0.000031
                          example-model-rank      -0.000054
                          example-model-rank2      0.000000
                          example-model-rank3      0.000000
                          m-20220904-nn            0.000000
...                                                     ...
2022-09-30 09:55:00+00:00 m-20220921-remove-feat   0.001140
                          m-20220928-btc-beta      0.001150
                          m-20220929-btc-beta-one  0.000847
                          pf-universal             0.000765
                          pf-universal2            0.001950

[233642 rows x 1 columns]

ret    float64
dtype: object